<div class="d-flex gap-1 flex-column mb-5">
  <% Post.last_five_comments(post.id).each do |comment| %>
    <div class="bg-light px-3 border rounded"><small><%= comment.user.name%>: <%= comment.text %></small></div>
  <% end %>
</div>
