<div class="d-flex p-2 my-2 gap-3 align-items-center border border-3 rounded">
  <div class="flex-column">
    <img src="<%= url_for(user.photo) %>" height="150" class="img" alt="User image thumbnail">
  </div>
  <div class="flex-fill">
    <div class="">
      <h5 class=""><%= user.name %></h5>
      <p class="text-end"><small class="text-muted">Number of posts: <%= user.posts_counter || 0 %></small></p>
    </div>
  </div>
</div>
